*{
	padding: 0;
	margin: 0;
}

html, body {
    height: 100%;
	width: 100%;
    background-color: #000;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img { width: 100%; margin: auto;}

::-webkit-scrollbar {
    height: 0.2px;
    width: 9px;
    background: #97723e;
}
::-webkit-scrollbar-thumb {
    background: #1b86a1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #97723e;
}

/* ===========================
--- FONT
============================ */

 @font-face {
        font-family: medium;
		src: url(../../assets/fonts/seaworld/GothamRnd-Medium.otf);
}

 @font-face {
        font-family: medium_italic;
		src: url(../../assets/fonts/seaworld/GothamRnd-MedIta.otf);
}

#medium_italic {
	font-family: medium_italic;
	font-variant: inherit;
}
/* ===========================
--- FONT
============================ */

#btn_bahasa {
	margin-top: 13px;
	overflow: hidden;
    outline:none;
}

#btn_close {
	margin-top: 220px;
	overflow: hidden;
    outline:none;
}

#btn_zoom {
	position: absolute;
	margin-top: 350px;
	margin-left: 350px;
	overflow: hidden;
    outline:none;
}

#btn_peta {
	margin-top: -80px;
	overflow: hidden;
	outline: none;
}

#btn_menu {
	overflow: hidden;
	outline: none;
	margin-left: -3px;
    margin-top: 7px;
}

#clock_down {
	margin-top: -60px;
	margin-left: 168px;
	color: #5a5151f7;
}

#clock_up {
	margin-top: 17px;
	margin-left: 50px;
	color: #5a5151f7;
}

#date {
	margin-top: -37px;
	margin-left: 150px;
	color: #5a5151f7;
}

#feeding_schedule {
	margin-top: -80px;
	margin-left: 475px;
	color: #fff;
}

#header {
	height: 65px;
	/*height: 79px;*/
	width: 450px;
	background: url(../../assets/img/header.png);
	background-size: 100% 100%;
	margin-top: 20px;
	position: absolute;
	margin-left: 10px;
}

#main {
	height: 1340px;
	width: 768px;
	background: url(../../assets/img/background.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}

#footer {
	height: 87px;
	/*height: 79px;*/
	width: 768px;
	background: url(../../assets/img/footer_home.png);
	background-size: 100% 100%;
	margin-top: -70px;
}

.logo {
	float: right;
	width: 35%;
}

.logo_image {
	width: 237px;
	height: 104px;
}

.peta_image {
	margin-top: 10px;
	width: 730px;
}

.menu {
	float: left;
	width: 45%;
	height: 400px;
	margin-left: 20px;
	margin-top: 15px;
	/*border:0.15em solid black;*/
}

.media {
	float: right;
	width: 45%;
	height: 530px;
	margin-right: 20px;
	margin-top: 16px;
	padding-bottom: 20px;
	/*border:0.15em solid black;*/
}

.font_bawah {
	margin-top: -37px;
	margin-left: 320px;
	color: #5a5151f7;
}

.scroll {
	width: 320px;
	background: #ebf9d1;
	padding: 10px;
	overflow: scroll;
	height: 300px;
	overflow-x: hidden;
}

.ukuran_popup {
	width: 100%;
	margin-top: 250px;
}

.popup_style {
	background: transparent;
	box-shadow: none;
	border: none;
}

.popup_gallery {
	width: 100%;
	height: 60%;
}

.popup_info {
	margin-top: -130px;
	margin-bottom: -290px;
	margin-left: 50px;
	width: 100%;
	height: 1182px;
	background: url(../../assets/img/windowpopupInfo.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	font-size: 18px;
	color: #97723e;
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 120px;
	padding-bottom: 50px;
}

.popup_feeding {
	float: right;
	margin-top: -10px;
	margin-right: 30px;
	position: relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 450px;
    height: 50px;
	color: #1b85a0;
	border:0.15em solid black;
}