*{
	padding: 0;
	margin: 0;
}

html, body {
    height: 100%;
	width: 100%;
    background-color: #000;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img { width: 100%; margin: auto;}

::-webkit-scrollbar {
    height: 0.2px;
    width: 9px;
    background: #97723e;
}
::-webkit-scrollbar-thumb {
    background: #1b86a1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #97723e;
}

/* ===========================
--- FONT
============================ */

 @font-face {
        font-family: medium;
		src: url(../../assets/fonts/seaworld/GothamRnd-Medium.otf);
}

 @font-face {
        font-family: medium_italic;
		src: url(../../assets/fonts/seaworld/GothamRnd-MedIta.otf);
}

#medium_italic {
	font-family: medium_italic;
	font-variant: inherit;
}
/* ===========================
--- FONT
============================ */

#btn_bahasa {
	margin-top: 13px;
	overflow: hidden;
    outline:none;
}

#btn_close {
	margin-top: 220px;
	overflow: hidden;
    outline:none;
}

#btn_zoom {
	position: absolute;
	margin-top: 350px;
	margin-left: 350px;
	overflow: hidden;
    outline:none;
}

#btn_home {
	overflow: hidden;
	outline: none;
}

#clock {
	margin-top: -60px;
	margin-left: 168px;
	color: #5a5151f7;
}

#date {
	margin-top: -37px;
	margin-left: 290px;
	color: #5a5151f7;
}

#feeding_schedule {
	margin-top: -80px;
	margin-left: 475px;
	color: #fff;
}

#main {
	height: 1340px;
	width: 768px;
	background: url(../../assets/img/background.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}

#footer {
	height: 87px;
	/*height: 79px;*/
	width: 768px;
	background: url(../../assets/img/footer.png);
	background-size: 100% 100%;
	margin-top: -70px;
}

.logo {
	float: right;
	width: 35%;
}

.logo_image {
	width: 237px;
	height: 104px;
}

.headline {
	float: left;
	width: 66%;
}

.avatar {
	float: right;
	width: 30%;
}

.image_gallery {
	float: left;
	width: 60%;
	margin-left: -20px;
}

.window_klasifikasi {
	float: right;
	width: 37%;
	height: 406px;
	background: url(../../assets/img/page/collection/windowKlasifikasi.png) no-repeat;
	padding-top: 90px;
    padding-left: 40px;
	font-family: medium;
	font-variant: inherit;
	font-size: 16px;
	color: #97723e;
}

.window_classification {
	float: right;
	width: 37%;
	height: 406px;
	background: url(../../assets/img/page/collection/windowClassification.png) no-repeat;
	padding-top: 90px;
    padding-left: 40px;
	font-family: medium;
	font-variant: inherit;
	font-size: 16px;
	color: #97723e;
}

.info {
	float: left;
	width: 63%;
	height:404px;
	background: url(../../assets/img/page/collection/windowPenjelasan.png) no-repeat;
	padding-top: 50px;
    padding-left: 50px;
	font-family: medium;
	font-variant: inherit;
	font-size: 16px;
	color: #97723e;
}

.scroll {
	width: 320px;
	background: #ebf9d1;
	padding: 10px;
	overflow: scroll;
	height: 300px;
	overflow-x: hidden;
}

.info_makanan {
	width: 293px;
	height: 70px;
	margin-top: 20px;
	background: url(../../assets/img/page/collection/info-makanan.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	color: #ebf9d1;
	font-size: 18px;
	padding-top: 36px;
	padding-left: 72px
}

.info_panjang {
	width: 293px;
	height: 70px;
	margin-top: 20px;
	background: url(../../assets/img/page/collection/info-panjang.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	color: #ebf9d1;
	font-size: 18px;
	padding-top: 36px;
	padding-left: 72px
}

.info_diet {
	width: 293px;
	height: 70px;
	margin-top: 20px;
	background: url(../../assets/img/page/collection/info-diet.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	color: #ebf9d1;
	font-size: 18px;
	padding-top: 36px;
	padding-left: 72px
}

.info_length {
	width: 293px;
	height: 70px;
	margin-top: 20px;
	background: url(../../assets/img/page/collection/info-length.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	color: #ebf9d1;
	font-size: 18px;
	padding-top: 36px;
	padding-left: 72px
}

.peta {
	float: right;
	width: 37%;
}

.window_conservation {
	float: right;
	width: 36%;
	background: url(../../assets/img/page/collection/detail-statusKonservasi.png) no-repeat;
	padding-top: 7px;
	padding-left: 0px;
	padding-right: 25px;
	font-family: medium;
	font-variant: inherit;
	font-size: 16px;
	color: white;
}

.ukuran_popup {
	width: 100%;
	margin-top: 250px;
}

.popup_style {
	background: transparent;
	box-shadow: none;
	border: none;
}

.popup_gallery {
	width: 100%;
	height: 60%;
}

.popup_info {
	margin-top: -130px;
	margin-bottom: -290px;
	margin-left: 50px;
	width: 100%;
	height: 1182px;
	background: url(../../assets/img/page/collection/windowpopupInfo.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	font-size: 18px;
	color: #97723e;
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 120px;
	padding-bottom: 50px;
}

.popup_feeding {
	float: right;
	margin-top: -67px;
	position: relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 287px;
    height: 50px;
	color: #1b85a0;
	/*border:0.15em solid #fff;*/
}