*{
	padding: 0;
	margin: 0;
}

html, body {
    height: 100%;
	width: 100%;
    background-color: #000;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img { width: 100%; margin: auto;}

::-webkit-scrollbar {
    height: 0.2px;
    width: 9px;
    background: #97723e;
}
::-webkit-scrollbar-thumb {
    background: #1b86a1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #97723e;
}

/* ===========================
--- FONT
============================ */

 @font-face {
        font-family: medium;
		src: url(../../assets/fonts/seaworld/GothamRnd-Medium.otf);
}

 @font-face {
        font-family: medium_italic;
		src: url(../../assets/fonts/seaworld/GothamRnd-MedIta.otf);
}

#medium_italic {
	font-family: medium_italic;
	font-variant: inherit;
}
/* ===========================
--- FONT
============================ */

#btn_bahasa {
	margin-top: 13px;
	overflow: hidden;
    outline:none;
}

#btn_close {
	margin-top: 220px;
	overflow: hidden;
    outline:none;
}

#btn_zoom {
	position: absolute;
	margin-top: 350px;
	margin-left: 350px;
	overflow: hidden;
    outline:none;
}

#menu_peta {
	overflow: hidden;
	outline: none;
}

#clock_down {
	margin-top: -60px;
	margin-left: 168px;
	color: #5a5151f7;
}

#clock_up {
	margin-top: 17px;
	margin-left: 50px;
	color: #5a5151f7;
}

#date {
	margin-top: -37px;
	margin-left: 90px;
	color: #5a5151f7;
}

#header {
	height: 78px;
	/*height: 79px;*/
	width: 408px;
	background: url(../../assets/img/bg_tanggal.png);
	background-size: 100% 100%;
	margin-top: 10px;
	margin-left: 95px;
	position: absolute;
	padding-top: 60px;
}

#main {
	height: 1340px;
	width: 768px;
	background: url(../../assets/img/background.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}

.left_menu {
	height: 235px;
	width: 243px;
	float: left;
}

.middle_menu {
	height: 235px;
	width: 243px;
	position: absolute;
	margin-left: 240px;
	margin-top: 60px;
}

.right_menu {
	height: 235px;
	width: 243px;
	float: right;
}

#footer {
	height: 87px;
	/*height: 79px;*/
	width: 768px;
	background: url(../../assets/img/footer_home.png);
	background-size: 100% 100%;
	margin-top: -70px;
}

.logo {
	float: right;
	width: 35%;
	margin-top: 5px;
}

.logo_image {
	width: 200px;
	height: 84px;
	margin-left: 40px;
}

.font_bawah {
	margin-top: -37px;
	margin-left: 320px;
	color: #5a5151f7;
}

.scroll {
	width: 320px;
	background: #ebf9d1;
	padding: 10px;
	overflow: scroll;
	height: 300px;
	overflow-x: hidden;
}

.headline {
	margin-top: 20px;
}

.content {
	margin-top: 130px;
}