*{
	padding: 0;
	margin: 0;
}

html, body {
    height: 100%;
	width: 100%;
    background-color: #000;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img { width: 100%; margin: auto;}

::-webkit-scrollbar {
    height: 0.2px;
    width: 9px;
    background: #97723e;
}
::-webkit-scrollbar-thumb {
    background: #1b86a1;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #97723e;
}

/* ===========================
--- FONT
============================ */

 @font-face {
        font-family: medium;
		src: url(../../assets/fonts/seaworld/GothamRnd-Medium.otf);
}

 @font-face {
        font-family: medium_italic;
		src: url(../../assets/fonts/seaworld/GothamRnd-MedIta.otf);
}

#medium_italic {
	font-family: medium_italic;
	font-variant: inherit;
}
/* ===========================
--- FONT
============================ */

#btn_bahasa {
	margin-top: 13px;
	overflow: hidden;
    outline:none;
}

#btn_close {
	margin-top: 220px;
	overflow: hidden;
    outline:none;
}

#btn_zoom {
	position: absolute;
	margin-top: 350px;
	margin-left: 350px;
	overflow: hidden;
    outline:none;
}

#btn_peta {
	margin-top: -80px;
	overflow: hidden;
	outline: none;
}

#btn_menu {
	overflow: hidden;
	outline: none;
	margin-left: -3px;
    margin-top: 7px;
}

#clock_down {
	margin-top: -60px;
	margin-left: 168px;
	color: #5a5151f7;
}

#clock_up {
	margin-top: 17px;
	margin-left: 50px;
	color: #5a5151f7;
}

#date {
	margin-top: -37px;
	margin-left: 90px;
	color: #5a5151f7;
}

#feeding_schedule {
	margin-top: -80px;
	margin-left: 475px;
	color: #fff;
}

#header {
	height: 78px;
	/*height: 79px;*/
	width: 408px;
	background: url(../../assets/img/bg_tanggal.png);
	background-size: 100% 100%;
	margin-top: 10px;
	margin-left: 95px;
	position: absolute;
	padding-top: 60px;
}

#main {
	height: 1340px;
	width: 768px;
	background: url(../../assets/img/background.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}

#footer {
	height: 87px;
	/*height: 79px;*/
	width: 768px;
	background: url(../../assets/img/footer_home.png);
	background-size: 100% 100%;
	margin-top: -70px;
}

.logo {
	float: right;
	width: 35%;
	margin-top: 5px;
}

.logo_image {
	width: 200px;
	height: 84px;
	margin-left: 40px;
}

.peta_image {
	margin-top: 10px;
	width: 730px;
}

.map {
	float: left;
	width: 30%;
	height: 250px;
	margin-left: 20px;
	margin-top: 15px;
	/*border:0.15em solid black;*/
}

.window_info {
	float: right;
	width: 55%;
	height: 250px;
	background: url(../../assets/img/page/aquarium/windowInfo-01-theRiverView.png) no-repeat;
	padding-top: 85px;
    padding-left: 28px;
    padding-right: 28px;
	font-family: medium;
	font-variant: inherit;
	font-size: 16px;
	color: #97723e;
	margin-top: 15px;
}

.font_bawah {
	margin-top: -37px;
	margin-left: 320px;
	color: #5a5151f7;
}

.scroll {
	width: 320px;
	background: #ebf9d1;
	padding: 10px;
	overflow: scroll;
	height: 300px;
	overflow-x: hidden;
}

.frame {
	width: 720px;
	height: 426px;
	background: url(../../assets/img/page/aquarium/frame-gambarAquarium.png) no-repeat;
	margin-left: 15px;
	padding-left: 57px;
	padding-top: 36px;
}

.gallery {
	margin-left: 30px;
	width: 100%;
	height: 426px;
}

.img_gallery {
    margin: 10px;
    float: left;
    width: 211px;
}

.gallery img {
    width: 100%;
    height: auto;
}