*{
	padding: 0;
	margin: 0;
}

html, body {
    height: 100%;
	width: 100%;
    background-color: #000;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img { width: 100%; margin: auto;}

::-webkit-scrollbar {
    height: 0.2px;
    width: 9px;
    background: #ebfad1;
}
::-webkit-scrollbar-thumb {
    background: #64411c;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #ebfad1;
}

/* ===========================
--- FONT
============================ */

 @font-face {
        font-family: medium;
		src: url(../../assets/fonts/seaworld/GothamRnd-Medium.otf);
}

 @font-face {
        font-family: medium_italic;
		src: url(../../assets/fonts/seaworld/GothamRnd-MedIta.otf);
}

#medium_italic {
	font-family: medium_italic;
	font-variant: inherit;
}

#teks_menu {
	margin-top: -80px;
    margin-left: 30px;
    position: absolute;
	color: #64411c;
}
/* ===========================
--- FONT
============================ */

.tooltip{
    /*Terserah desainnya bagaimana~*/
    background:#303030;
    padding:10px;
    color:#f0f0f0;
    border-radius:10px;
    -moz-border-radius:10px;
    width:200px;
    text-align:center;
 
    /*yang ini penting!*/
    position:absolute; 
}

#btn_bahasa {
	margin-top: 13px;
	overflow: hidden;
    outline:none;
}

#btn_close {
	margin-top: 220px;
	overflow: hidden;
    outline:none;
}

#btn_zoom {
	position: absolute;
	margin-top: 350px;
	margin-left: 350px;
	overflow: hidden;
    outline:none;
}

#btn_peta {
	margin-top: -80px;
	overflow: hidden;
	outline: none;
}

#btn_menu {
	overflow: hidden;
	outline: none;
	margin-left: -3px;
    margin-top: 7px;
}

#btn_list {
	overflow: hidden;
	outline: none;
	margin-bottom: 5px;
}

#clock_down {
	margin-top: -60px;
	margin-left: 168px;
	color: #5a5151f7;
}

#clock_up {
	margin-top: 17px;
	margin-left: 50px;
	color: #5a5151f7;
}

#date {
	margin-top: -37px;
	margin-left: 90px;
	color: #5a5151f7;
}

#feeding_schedule {
	margin-top: -80px;
	margin-left: 475px;
	color: #fff;
}

#header {
	height: 78px;
	/*height: 79px;*/
	width: 408px;
	background: url(../../assets/img/bg_tanggal.png);
	background-size: 100% 100%;
	margin-top: 10px;
	margin-left: 95px;
	position: absolute;
	padding-top: 60px;
}

#main {
	height: 1340px;
	width: 768px;
	background: url(../../assets/img/background.png);
	background-size: 100% 100%;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
}

#footer {
	height: 87px;
	/*height: 79px;*/
	width: 768px;
	background: url(../../assets/img/footer_home.png);
	background-size: 100% 100%;
	margin-top: -70px;
}

.logo {
	float: right;
	width: 35%;
	margin-top: 5px;
}

.logo_image {
	width: 200px;
	height: 84px;
	margin-left: 40px;
}

.map_image {
	width: 650px;
	height: 541px;
	background: url(../../assets/img/page/menu/map_menu.png);
	background-size: 100% 100%;
	margin-left: 59px;
	margin-right: 59px;
	margin-top: 10px;
	margin-bottom: 20px;
	
}

.menu_scroll {
	width: 650px;
	height: 500px;
	background: none;
	padding: 10px;
	overflow: scroll;
	overflow-x: hidden;
	margin-left: 59px;
	margin-right: 59px;
	margin-top: 10px;
	position: fixed;
}

.font_bawah {
	margin-top: -37px;
	margin-left: 320px;
	color: #5a5151f7;
}

.ukuran_popup {
	width: 100%;
	margin-top: 250px;
}

.popup_style {
	background: transparent;
	box-shadow: none;
	border: none;
}

.popup_gallery {
	width: 100%;
	height: 60%;
}

.popup_info {
	margin-top: -130px;
	margin-bottom: -290px;
	margin-left: 50px;
	width: 100%;
	height: 1182px;
	background: url(../../assets/img/windowpopupInfo.png) no-repeat;
	font-family: medium;
	font-variant: inherit;
	font-size: 18px;
	color: #97723e;
	padding-top: 80px;
	padding-left: 80px;
	padding-right: 120px;
	padding-bottom: 50px;
}

.popup_feeding {
	float: right;
	margin-top: -10px;
	margin-right: 30px;
	position: relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 450px;
    height: 50px;
	color: #1b85a0;
	border:0.15em solid black;
}

/* ===========================
--- TOOLTIP
============================ */
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:180px;
  color: #FFFFFF;
  background: #000000;
  border: 2px solid #FFFFFF;
  height: 50px;
  /*line-height: 63px;
  text-align: center;*/
  padding-left: 15px;
  padding-top: 2px;
  visibility: hidden;
  border-radius: 15px;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 0; height: 0;
  border-top: 12px solid #FFFFFF;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

.theater_legend {
	margin-top: 345px;
    margin-left: 58px;
	position: absolute;
}

.toilet_legend-1 {
	margin-top: 290px;
    margin-left: 135px;
	position: absolute;
}

.toilet_legend-2 {
	margin-top: 155px;
    margin-left: 290px;
	position: absolute;
}

.food_legend {
	margin-top: 140px;
    margin-left: 435px;
	position: absolute;
}

.information_legend {
	margin-top: 280px;
    margin-left: 385px;
	position: absolute;
}

.ticket_legend {
	margin-top: 300px;
    margin-left: 450px;
	position: absolute;
}

.locker_legend {
	margin-top: 310px;
    margin-left: 495px;
	position: absolute;
}

.p3k_legend {
	margin-top: 290px;
    margin-left: 530px;
	position: absolute;
}

.babyCare_legend {
	margin-top: 285px;
    margin-left: 570px;
	position: absolute;
}

.funDive_legend {
	margin-top: 15px;
    margin-left: 340px;
	position: absolute;
}
/* ===========================
--- TOOLTIP
============================ */